* {
	margin: 0;
	overflow: hidden;
}

body {
	background-image: url(../img/ptrbackground.jpg);
	margin-top: 0;
	background-position: cover;
	background-repeat: repeat-x;
	background-color: #00569F;
}
select {
	margin-top: 1%;
}
nav {
	background-color: #f5f5f5;
	box-shadow: 5px 5px 5px #000033;
	font-family: Verdana;
}

#login {
	background-color: #f5f5f5;
	float: right;
	margin-top: 10%;
	margin-right: 75px;
	padding: 10px;
	box-shadow: 5px 5px 5px #000033;
}

#login h3{
	padding-bottom: 5px;
	box-shadow: 0px 1px 0px 0px #000033;
}
#signup {
	height: 100vh;
}
#signup h3{
		padding-bottom: 5px;
		box-shadow: 0px 1px 0px 0px #000033;
}

#main {

	height: 100%;
	position: fixed;
	left:0;
	right: 0;
}

.sidebar {
	position: fixed;
	bottom: 0;
	height: 100%;
	left: 0;
	background-color: white;
}


#terminal {
	bottom: 0;
	position: fixed;
	width: 100%;

}
.terminal-line {
	background-color: black;
	color: white;
	padding: 0;
	margin: 0px;
	border: 0;
}

#editor {
	position: fixed;
	bottom: 250px;
	top: 50px;
	width: 100%;
}
#option div {
	padding: 10px;
}

#option h3 {
	font-size: 1.2em;
}

#button {
	float: left;
}

#button div {
	padding: 10px;
}

label {
	display: block;
	float: left;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}

input {
	display: block;
	margin-top: 5px;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: black;
}
