<h1>index</h1>
<a href="/google/auth.html">Protected url by Google: google/auth.html</a><br />
<a href="google/notprotected.html">Not protected page: google/notprotected.html</a><br />
<a href="/googleadmin/auth.html">Protected url by Google with ROLE_ADMIN: googleadmin/auth.html</a><br />
<a href="/googlecustom/index.html">Protected url by Google with custom authorizer (= must be a <em>HttpProfile</em> where the username starts with "al"): googlecustom/index.html</a><br />
<!-- <a href="/form/index.html">Protected url by form authentication: form/index.html</a><br /> -->
<a href="/protected/index.html">Protected url: protected/auth.html</a><br />
<br />
<a href="/logout?url=/">logout</a>
<br /><br />
profile : {{profile}}
<br /><br />
<hr />

<a href="{{urlGoogle}}">Authenticate with Google</a><br />
<!-- <a href="{{urlForm}}">Authenticate with form</a><br /> -->