<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/cloudlion.css" />
<link rel="icon" href="lion.png" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/terminal.css" />
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular.js"></script>

</head>


<body>

	<!-- HEADER -->
	<nav id="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand">CloudLion</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index">Home</a></li>
					<li><a href="editor">Editor</a></li>
					<li><a href="signup">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="row" id="main">
		<div class="col-md-2 sidebar" id="option">
			<div>
				<h3>Pick a Theme</h3>
				<select id="theme" onchange="setTheme()">
				</select>
			</div>
			<div>
				<h3>Pick a Language</h3>
				<select id="lang" onchange="setLang()">
				</select>
			</div>
			<div>
				<h3>Select Font Size</h3>
				<select id="font" onchange="setFont()">
				</select>
			</div>
		</div>
		<div class="col-md-10" id="rightCol">
			<div class="row" id="editor">
				<div>function foo(items) { var x = "All this is syntax
					highlighted"; return x; }</div>
			</div>
			<div class="row" id="terminal">
				<div ng-app="execute" ng-controller="console">
					<terminal terminal-class="black">
					<p class="click-me">Click me to start commanding !</p>
					</terminal>
				</div>
			</div>
		</div>
	</div>


	<script src="webjars/ace/1.2.0/src-min-noconflict/ace.js"
		type="text/javascript" charset="utf-8"></script>
	<script src="js/terminal/terminal.js"></script>
	<script src="js/terminal/filesystem.js"></script>
	<script src="js/terminal/implementations.js"></script>
	<script src="js/terminal/tools.js"></script>
	<script src="js/terminal/execute.js"></script>
	<script src="js/theme.js"></script>
	<script src="js/header.js"></script>
	<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>


</html>
