<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Sign Up</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="icon" href="lion.png" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/cloudlion.css" />
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<nav id="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href ="index.html" class="navbar-brand">CloudLion</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index">Home</a></li>
					<li><a href="editor">Editor</a></li>
					<li><a href="setting">Settings</a></li>
					<li><a href="signup">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="jumbotron">
		 <div id="signup" class="container">
		 <h3>Create your personal account</h3>
		 <br/>
	 	 <style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

<iframe name="hiddenFrame" class="hide"></iframe>
	 	 <form th:action="@{/file/create}" method="post" id="signup" class="form-horizontal" role="form" target="hiddenFrame">
	 		<!--  
				<div class="form-group">
					<label class="control-label col-sm-2" for="user">Username:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user" placeholder="Enter username"></input>
					</div>
				</div>
				-->
	 	   <div class="form-group">
	 	     <label class="control-label col-sm-2" for="email">Email:</label>
	 	     <div class="col-sm-10">
	 	       <input type="text" class="form-control" name="fileName" id="fileName" placeholder="Enter name"></input>
	 	     </div>
	 	   </div>
	 	   <div class="form-group">
	 	     <label class="control-label col-sm-2" for="password">Password:</label>
	 	     <div class="col-sm-10">
	 	       <input type="text" class="form-control" name="text" id="text" placeholder="Enter text"></input>
	 	     </div>
	 	   </div>
	 	   <div class="form-group">
	 	     <div class="col-sm-offset-2 col-sm-10">
	 	       <button type="submit" class="btn btn-default">Submit</button>
	 	     </div>
	 	   </div>
	 	 </form>
	 	 <!-- TEST -->
	</div>
	</div>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>


</html>
