<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head lang="en">
      <title>Cloud Lion</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <link rel="stylesheet" type="text/css" href="css/cloudlion.css"/>
      <link rel="icon" href="lion.png" type="image/x-icon"/>
      <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
   </head>
   <body>
      <header id = "header"></header>
      <div id="login">
         <h3>Please Login</h3>
         <label for="userName"></label>
         <input type="text" name="userName" id="userName" required="required" placeholder="Pick a username"/><br/>
         <label for="myPassword"></label>
         <input type="password" name="myPassword" id="myPassword" placeholder="Create a password"/><br/>
         <input type="Submit" value="Login"/>
      </div>
      <script src="js/header.js"></script>
   </body>
</html>