<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head lang="en">
      <title>Sign Up</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" href="css/cloudlion.css" />
      <link rel="icon" href="lion.png" type="image/x-icon" />
      <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
   </head>
   <body>
      <header id = "header"></header>
      <div id="signup">
         <h3>Create your personal account</h3>
         <br/>
         <form>
            <label for="userName">Username </label><br/>
            <input type="text" name="userName" id="userName" required="required" placeholder="Pick a username"/><br/>
            <label for="myEmail">Email </label><br/>
            <input type="email" name="myEmail" id="myEmail" required="required" placeholder="Your email"/><br/>
            <label for="myPassword">Password </label><br/>
            <input type="password" name="myPassword" id="myPassword" placeholder="Create a password"/><br/>
            <input type="Submit" value="Sign Up"/>
         </form>
      </div>
       <script src="js/header.js"></script>
   </body>
</html>